@use '../../style/lib.scss' as *;
@use '../../style/mixins.scss';

.notification {
  @include mixins.font-family();

  padding: 4px;
  display: flex;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid $jrc-color-border;
  background-color: $jrc-color-background;

  &--hidden {
    display: none;
  }

  &__side-border {
    width: 4px;
    border-radius: 2px;
    margin-right: 4px;
  }

  &__side-border--error {
    background: $jrc-color-error;
  }

  &__side-border--info {
    background: $jrc-color-info;
  }

  &__side-border--warning {
    background: $jrc-color-warning;
  }

  &__side-border--success {
    background: $jrc-color-success;
  }

  &__text-wrapper {
    padding: 4px;
  }

  &__header {
    margin: 0px 0px 4px;
    font-size: 1.2em;
  }

  &__content {
    margin: 0px;
    font-size: 1em;
  }

  &__close-button {
    align-self: flex-start;
    margin-left: auto;
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}
