@use '../../style/lib.scss' as *;
@use '../../style/mixins.scss';

.notification {
  @include mixins.font-family();

  --jrc-color-icon: red;
  padding: 4px;
  display: flex;
  line-height: 1;
  background-color: $jrc-color-background;
  border-radius: 4px;
  border: 1px solid $jrc-color-border;
  border-left-width: 4px;

  &--hidden {
    display: none;
  }

  &--error {
    --jrc-color-icon: #{$jrc-color-error};
    border-left-color: $jrc-color-error;
  }

  &--info {
    --jrc-color-icon: #{$jrc-color-info};
    border-left-color: $jrc-color-info;
  }

  &--warning {
    --jrc-color-icon: #{$jrc-color-warning};
    border-left-color: $jrc-color-warning;
  }

  &--success {
    --jrc-color-icon: #{$jrc-color-success};
    border-left-color: $jrc-color-success;
  }

  &__icon-wrapper{
    align-self: center;
    margin: 4px;
  }

  &__text-wrapper {
    padding: 4px;
  }

  &__header {
    margin: 0px 0px 4px;
    font-size: 1em;
    font-weight: 700;
  }

  &__content {
    margin: 0px;
    font-size: 1em;
  }

  &__close-button {
    color: $jrc-color-font;
    align-self: flex-start;
    margin-left: auto;
    border: 0;
    background: transparent;
    cursor: pointer;

    &:hover, &:focus {
      color: $jrc-color-primary-hover;
    }

    &:active {
      color: $jrc-color-primary-active;
    }
  }
}
