.notification {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 4px;
  display: flex;
  line-height: 1;
  border-radius: 4px;
  border: 1px solid lightslategray;
  background: white;
}

.notification--hidden {
  display: none;
}

.notification__side-border {
  width: 4px;
  border-radius: 2px;
  margin-right: 4px;
}

.notification__side-border--error {
  background: red;
}

.notification__side-border--info {
  background: blue;
}

.notification__side-border--warning {
  background: orange;
}

.notification__side-border--success {
  background: green;
}

.notification__text-wrapper {
  padding: 4px;
}

.notification__header {
  margin: 0px 0px 4px;
  font-size: 1.2em;
}

.notification__content {
  margin: 0px;
  font-size: 1em;
}

.notification__close-button {
  align-self: flex-start;
  margin-left: auto;
  border: 0;
  background: transparent;
  cursor: pointer;
}
