@use '../../style/lib.scss' as *;
@use '../../style/mixins.scss';

.button {
  @include mixins.font-family();

  font-weight: 700;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &--primary {
    color: white;
    background-color: $jrc-color-primary;

    &:hover {
      background-color: $jrc-color-primary-hover;
    }

    &:active, &:focus {
      background-color: $jrc-color-primary-active;
    }
  }

  &--secondary {
    color: white;
    background-color: $jrc-color-secondary;

    &:hover {
      background-color: $jrc-color-secondary-hover;
    }

    &:active, &:focus {
      background-color: $jrc-color-secondary-active;
    }
  }

  &--inverted {
    color: $jrc-color-primary;
    background-color: transparent;
    box-shadow: $jrc-color-primary 0px 0px 0px 1px inset;

    &:hover {
      color: $jrc-color-primary-hover;
      box-shadow: $jrc-color-primary-hover 0px 0px 0px 1px inset;
    }

    &:active, &:focus {
      color: $jrc-color-primary-active;
      box-shadow: $jrc-color-primary-active 0px 0px 0px 1px inset;
    }
  }

  &--small {
    font-size: 0.8rem;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 1rem;
    padding: 11px 20px;
  }

  &--large {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}
