@use '../../style/lib.scss' as *;
@use '../../style/mixins.scss';

.icon {
  color: $jrc-color-font;

  &--size-sm {
    width: 24px;
    height: 24px;
  }
  &--size-md {
    width: 36px;
    height: 36px;
  }
  &--size-lg {
    width: 48px;
    height: 48px;
  }
}
